/* font */

 @font-face {
    font-family: 'FELL Double Pica Regular';
    font-style: normal;
    font-weight: normal;
    src: local('FELL Double Pica Regular'), url("fonts/fellpica/FeDPrm2.woff") format("woff");
    }

    @font-face {
    font-family: 'FELL Double Pica Italic';
    font-style: normal;
    font-weight: normal;
    src: local('FELL Double Pica Italic'), url("fonts/fellpica/FeDPit2.woff") format("woff");
    }
    

    @font-face {
    font-family: 'FELL Double Pica Bold';
    font-style: normal;
    font-weight: normal;
    src: local('FELL Double Pica Bold'), url("fonts/fellpica/FeDPsc2.woff") format("woff");
    }

h1 { font-family: 'IM Fell DW Pica', Hoefler Text, Baskerville Old Face, Garamond, serif; 
	font-size: 23px; font-style: Normal; font-variant: normal; font-weight:700; line-height: 23px}
h3 { font-family: 'IM Fell DW Pica', Hoefler Text, Baskerville Old Face, Garamond, serif; font-size: 17px; font-style: Normal; font-variant: normal;
	font-weight:700; line-height: 23px}
p { font-family: Palatino, Palatino Linotype, Patino LT STD, Book Antiqua, Georgia, serif; 
   font-size: 15px; font-style: Normal; font-variant: normal; font-weight:700; line-height: 23px}

body{
    background-color: EEE3D3;
 }

/* Dropdown menu */
.dropdown__header * {
  padding: 0;
  margin: 0;
}
.dropdown__header {
  display: flex;
  align-items: center;
  background: #713d3d;
}

.dropdown__header strong {
  margin-left: 5px;
  margin-right: auto;
  font-size: 1.6rem;
}

.dropdown__header .dropdown__categories,
.dropdown__header .dropdown__menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown__header li {
  padding: 10px;
  position: relative;
}

.dropdown__header li:hover {
  background: #713d3d;
}

.dropdown__header .dropdown__category .dropdown__menu {
  display: none;
  position: absolute;
  background: #b87a7a;
  width: 200px;
  top: 50px;
  right: 0;
}

.dropdown__header .dropdown__category:hover .dropdown__menu {
  display: block;
}
/* map */
#map {
		height: 300px;
}
